# Hyprland runtime state
active/omarchy/.config/hypr/state/


# Omarchy runtime/current state
active/omarchy/.config/omarchy/current/
active/omarchy/.config/hypr/shaders/
# Ignore all themes
active/omarchy/.config/omarchy/themes/*
# But do not ignore the mars directory
!active/omarchy/.config/omarchy/themes/mars2/
# And do not ignore anything inside mars
!active/omarchy/.config/omarchy/themes/mars2/**


# Cava
active/shared/.config/cava/themes/
active/shared/.config/cava/shaders/
