# Hyprland runtime state
active/omarchy/.config/hypr/state/


# Omarchy runtime/current state
active/omarchy/.config/omarchy/current/
active/omarchy/.config/hypr/shaders/

# Ignore all themes
active/omarchy/.config/omarchy/themes/*
# But do not ignore the custom default themes
# And do not ignore anything inside custom default themes
!active/omarchy/.config/omarchy/themes/mars/
!active/omarchy/.config/omarchy/themes/mars/**
!active/omarchy/.config/omarchy/themes/batou/
!active/omarchy/.config/omarchy/themes/batou/**
!active/omarchy/.config/omarchy/themes/ethereal/
!active/omarchy/.config/omarchy/themes/ethereal/**
!active/omarchy/.config/omarchy/themes/biscuit-de-mar-dark/
!active/omarchy/.config/omarchy/themes/biscuit-de-mar-dark/**
!active/omarchy/.config/omarchy/themes/event-horizon/
!active/omarchy/.config/omarchy/themes/event-horizon/**
!active/omarchy/.config/omarchy/themes/greek-noir/
!active/omarchy/.config/omarchy/themes/greek-noir/**
!active/omarchy/.config/omarchy/themes/midnight/
!active/omarchy/.config/omarchy/themes/midnight/**
!active/omarchy/.config/omarchy/themes/neo-sploosh/
!active/omarchy/.config/omarchy/themes/neo-sploosh/**
!active/omarchy/.config/omarchy/themes/vesper/
!active/omarchy/.config/omarchy/themes/vesper/**


# Cava
active/shared/.config/cava/themes/
active/shared/.config/cava/shaders/
